*{ font-family:ו,arial,sans-serif;}
A {color:#000000;text-decoration: none;}
A:LINK {text-decoration: none;}
A:HOVER {COLOR: #ff0000;text-decoration: underline;background:#dddddd}
BODY {FONT-SIZE: 9.5pt; BACKGROUND-COLOR: #ffc8ce; background-image: url(/lbgPK.jpg)}
TABLE,TH,TD,P {FONT-SIZE: 9.5pt}
INPUT,TEXTAREA,SELECT {FONT-SIZE: 9pt;}
body.foot{font-size:12px;background-color:#ffc8ce;background-image: none}

