{TEXT-DECORATION: none;}

.red {color: red;}
.blk {color: black;}
.blu {color: blue;}
.tea {color: teal;}
.gry {color: gray;}
.sil {color: silver;}
.pur {color: purple;}
.mar {color: maroon;}
.oli {color: olive;}
.gre {color: green;}
.lim {color: lime;}
.whi {color: white;}
.aqu {color: aqua;}
.fuc {color: fuchsia;}
.nav {color: navy;}
.yel {color: yellow;}
TABLE.BODY {BORDER: 2px solid; BORDER-COLOR: #d0f0c0;}
body {BACKGROUND-COLOR: #f8f5ff; FONT-SIZE: 12px;font-family:宋體;}
TABLE,TH,TD,P,INPUT,TEXTAREA,SELECT {FONT-SIZE: 12px;font-family:宋體;}
.sec0 {BORDER-RIGHT: 0px solid; BORDER-TOP:  0px; BORDER-LEFT: 0px ;  BORDER-BOTTOM: #ffffff 1px solid}
.sec1 {BORDER-RIGHT: gray 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: eeeeee}
.sec2 {BORDER-RIGHT: gray 2px solid; BORDER-TOP: #ffffff 2px solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff 2px solid; CURSOR: hand; COLOR: #000000; BACKGROUND-COLOR: #3366cc}
.hrcolor {BACKGROUND-COLOR: #3366cc}
.docbgcolor {BACKGROUND-COLOR: #D2E4FC}
.f3{font-size: medium; font-family:宋體;}
.f2{font-size: small; font-family:宋體;}
.f1{font-size: 12px; font-family:宋體;}
.typeset {font-size: 120%}
.normal  {font-size: 120%}
.tb2_blk {BACKGROUND-COLOR: #abc8f2; COLOR: black }
.star { COLOR: yellow }
.c30 {COLOR: #000000;}
.c31 {COLOR: #e00000;}
.c32 {COLOR: #008000;}
.c33 {COLOR: #808000;}
.c34 {COLOR: #0000ff;}
.c35 {COLOR: #d000d0;}
.c36 {COLOR: #33a0a0;}
.c37 {COLOR: #000000;}
.cwhite {COLOR: #f0f0f0;}
.b40 {BACKGROUND-COLOR: #f0f0f0;}
.b41 {BACKGROUND-COLOR: #e00000;}
.b42 {BACKGROUND-COLOR: #008000;}
.b43 {BACKGROUND-COLOR: #808000;}
.b44 {BACKGROUND-COLOR: #0000ff;}
.b45 {BACKGROUND-COLOR: #d000d0;}
.b46 {BACKGROUND-COLOR: #33a0a0;}
.b47 {BACKGROUND-COLOR: #f0f0f0;}
.h30 {COLOR: #000000;}
.h31 {COLOR: #ff0000;}
.h32 {COLOR: #00ff00;}
.h33 {COLOR: #ffff00;}
.h34 {COLOR: #0000ff;}
.h35 {COLOR: #ff00ff;}
.h36 {COLOR: #33ffff;}
.h37 {COLOR: #000000;}
.def {COLOR: #000000; BACKGROUND-COLOR: #f8f5ff; }

A:VISITED {text-decoration: none;}
A:LINK {text-decoration: none;}
A:HOVER {COLOR: #ff0000;text-decoration: underline;background:#dddddd}

.colortb1 {background-color: #b3b7e6}
.colortb2 {background-color: #abc8f2}
.colorstart {background-color: yellow}
